input {
  width: 75vw;
  outline: none;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 12px;
}
button {
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 9px 12px;
  cursor: pointer;
  margin-left: 10px;
}
button:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

.sentMessage {
  background-color: #dff9fb;
  color: #00796b;
  text-align: right;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.receivedMessage {
  background-color: #e0e0e0;
  color: #424242;
  text-align: left;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}
.message-body {
  height: 40vw;
}
.user-room-container .user-room-reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 999 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .message-body {
    height: 155vw;
  }
  .user-room-container h2 {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 5px;
    z-index: 999;
    background-color: white;
  }
  .user-room-container .user-room-reply {
    display: flex;
    overflow-y: hidden !important;
    justify-content: center;
    width: 100%;
    bottom: 3.4em;
  }
}
